<%-include('header');-%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle%>
        </h1>
    </div>
    <div class="box">
        <% items.forEach(function(item){%>
            <form action="/delete" method="POST">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= item._id%>" onchange="this.form.submit()">
                    <span>
                        <%=item.name%>
                    </span>
                </div>
                <input type="hidden" name="list2" value="<%= listTitle%>"></input>

            </form>
            <%})%>
                <form class="item" action="/" method="POST">
                    <input name="listItem" type="text" placeholder="Add new Item" autocomplete="off">
                    <button type="submit" name="list" value=<%=listTitle%> >+</button>
                </form>
    </div>
    <%-include('footer');-%>